ul {
    display: flex;
    list-style-type: none;

}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /* justify-content: space-between; */
}

.header {
    display: flex;
    /* padding-left: 50px;
    padding-right: 50px; */
    justify-content: center;
    gap: 450px;
    color: white;
    background-color: #1F2937;
    padding: 0px 130px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    gap: 20px;
    font-size: 18px;
    color: E5E7EB;
}

.section-1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    padding: 130px 130px;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    
}

.header-1 {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: E5E7EB;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 550px;
    margin: 0;
    background-color: rgb(109, 118, 129);
    color: white;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    max-height: 30px;
    min-width: 105px;
    font-family: 'Roboto', sans-serif;
}